@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

#nick{

  stroke-dasharray: 7144;
  stroke-dashoffset: 7144;
  animation-name: sign;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

}
#shum{
  stroke-dasharray: 4596;
  stroke-dashoffset: 4596;
  animation: sign 4s ease forwards 2s;
}



@keyframes sign {
  to{
    stroke-dashoffset: 0;
  }
}

.top_hamburger{
  transform-origin: center center;
  animation: top 1s ease-out forwards;
}

@keyframes top {
  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(3px);
    transform: rotate(-45deg);
  }
}

.bottom_hamburger{
  transform-origin: center center;
  animation: bottom 1s ease-out forwards;
}

.list{
  animation: list_hover 0.5s ease-out;
}

@keyframes bottom {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-3px);
    transform: rotate(45deg);
  }
}
.carousel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}



.card{
  scroll-snap-align: start;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient{

  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}




