@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT mono", sans-serif;
  scroll-behavior: smooth;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
::-webkit-scrollbar {
  width: 0px;
  /* width: 8px; */
}

::-webkit-scrollbar-track {
  background-color: transparent;

   /* background-color: #151515; */
} 

::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* background-color: #9c9c9c;
  border-radius: 5px; */
}

/* Firefox */
::-moz-scrollbar {
  width: 0px;
  /* width: 8px; */
}

::-moz-scrollbar-track {
  background-color: transparent;
  /* background-color: #151515; */
}

::-moz-scrollbar-thumb {
  background-color: transparent;
  /* background-color: #9c9c9c;
  border-radius: 5px; */
}


#nick{

  stroke-dasharray: 7144;
  stroke-dashoffset: 7144;
  animation-name: sign;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;

}
#shum{
  stroke-dasharray: 4596;
  stroke-dashoffset: 4596;
  animation: sign 4s ease forwards 2s;
}



@keyframes sign {
  to{
    stroke-dashoffset: 0;
  }
}

.top_hamburger{
  transform-origin: center center;
  animation: top 1s ease-out forwards;
}

@keyframes top {
  50% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(3px);
    transform: rotate(-45deg);
  }
}

.bottom_hamburger{
  transform-origin: center center;
  animation: bottom 1s ease-out forwards;
}

.list{
  animation: list_hover 0.5s ease-out;
}

@keyframes bottom {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-3px);
    transform: rotate(45deg);
  }
}
.carousel{
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}



.card{
  scroll-snap-align: start;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient{

  background: #6a86ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7c00ff, #6a86ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7c00ff, #6a86ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

}

#vector{
  stroke-dasharray: 849;
  stroke-dashoffset: 849;
  animation: sign 1.5s ease-in forwards ;
}

#loading{
  animation: fill 0.3s ease-out forwards 1.7s;
}

@keyframes fill{
  from{
    fill: transparent
  }
  to {
    fill: #FFFFFF;
  }
}

.textfield__label {
  color: white !important;
}

